# Dependencies
node_modules

# Build outputs
dist
build

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Misc
coverage
*.log
